@import "theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: #525252;
  }
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body *:focus {
  outline: none;
}

/* Custom scroll */
@media only screen and (min-width: 640px) {
  /* width */
  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  body > * ::-webkit-scrollbar {
    width: 0.3rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background-color: hsl(0 0 90%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: hsl(0 0 60%);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0 0 50%);
  }

  html.dark {
    ::-webkit-scrollbar-track {
      background-color: hsl(0 0 25%);
    }

    ::-webkit-scrollbar-thumb {
      background-color: hsl(0 0 50%);
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: hsl(0 0 60%);
    }
  }
}
