@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    outline: none;
    border-color: var(--color-border);
  }

  .dark {
    --color-surface-dim: oklch(20% 0 0);
    --color-surface: oklch(20% 0 0);
    --color-surface-bright: oklch(26% 0 0);

    --color-on-surface: var(--color-neutral-300);
    --color-on-surface-variant: var(--color-neutral-400);

    --color-surface-container-lowest: oklch(22% 0 0);
    --color-surface-container-low: oklch(24% 0 0);
    --color-surface-container: oklch(26% 0 0);
    --color-surface-container-high: oklch(28% 0 0);
    --color-surface-container-highest: oklch(30% 0 0);

    --color-primary: var(--color-primary-600);
    --color-primary-container: var(--color-primary-900);
    --color-on-primary: var(--color-white);
    --color-on-primary-container: var(--color-primary-600);

    --color-secondary: var(--color-secondary-600);
    --color-secondary-container: var(--color-secondary-900);
    --color-on-secondary: var(--color-white);
    --color-on-secondary-container: var(--color-secondary-900);

    --color-tertiary: var(--color-tertiary-600);
    --color-tertiary-container: var(--color-tertiary-200);
    --color-on-tertiary: var(--color-white);
    --color-on-tertiary-container: var(--color-tertiary-900);

    --color-error: var(--color-error-600);
    --color-error-container: var(--color-error-900);
    --color-on-error: var(--color-white);
    --color-on-error-container: var(--color-error-900);

    --color-warning: var(--color-warning-600);
    --color-warning-container: var(--color-warning-900);
    --color-on-warning: var(--color-white);
    --color-on-warning-container: var(--color-warning-900);

    --color-success: var(--color-success-600);
    --color-success-container: var(--color-success-900);
    --color-on-success: var(--color-white);
    --color-on-success-container: var(--color-success-900);

    --color-border: oklch(30% 0 0);
  }
}

@theme {
  --color-primary-50: oklch(98.6% 0.0249 106.85);
  --color-primary-100: oklch(96.55% 0.0507 108.52);
  --color-primary-200: oklch(93.84% 0.0964 110.03);
  --color-primary-300: oklch(89.47% 0.1397 111.13);
  --color-primary-400: oklch(82.63% 0.1715 113.27);
  --color-primary-500: oklch(75.87% 0.1598 114.05);
  --color-primary-600: oklch(63.97% 0.1367 115.03);
  --color-primary-700: oklch(52.65% 0.1095 115.96);
  --color-primary-800: oklch(45.01% 0.0884 116.01);
  --color-primary-900: oklch(40.2% 0.0732 116.39);
  --color-primary-950: oklch(27.08% 0.0521 118.79);

  --color-secondary-50: var(--color-neutral-50);
  --color-secondary-100: var(--color-neutral-100);
  --color-secondary-200: var(--color-neutral-200);
  --color-secondary-300: var(--color-neutral-300);
  --color-secondary-400: var(--color-neutral-400);
  --color-secondary-500: var(--color-neutral-500);
  --color-secondary-600: var(--color-neutral-600);
  --color-secondary-700: var(--color-neutral-700);
  --color-secondary-800: var(--color-neutral-800);
  --color-secondary-900: var(--color-neutral-900);
  --color-secondary-950: var(--color-neutral-950);

  --color-tertiary-50: var(--color-purple-50);
  --color-tertiary-100: var(--color-purple-100);
  --color-tertiary-200: var(--color-purple-200);
  --color-tertiary-300: var(--color-purple-300);
  --color-tertiary-400: var(--color-purple-400);
  --color-tertiary-500: var(--color-purple-500);
  --color-tertiary-600: var(--color-purple-600);
  --color-tertiary-700: var(--color-purple-700);
  --color-tertiary-800: var(--color-purple-800);
  --color-tertiary-900: var(--color-purple-900);
  --color-tertiary-950: var(--color-purple-950);

  --color-error-50: var(--color-red-50);
  --color-error-100: var(--color-red-100);
  --color-error-200: var(--color-red-200);
  --color-error-300: var(--color-red-300);
  --color-error-400: var(--color-red-400);
  --color-error-500: var(--color-red-500);
  --color-error-600: var(--color-red-600);
  --color-error-700: var(--color-red-700);
  --color-error-800: var(--color-red-800);
  --color-error-900: var(--color-red-900);
  --color-error-950: var(--color-red-950);

  --color-warning-50: var(--color-yellow-50);
  --color-warning-100: var(--color-yellow-100);
  --color-warning-200: var(--color-yellow-200);
  --color-warning-300: var(--color-yellow-300);
  --color-warning-400: var(--color-yellow-400);
  --color-warning-500: var(--color-yellow-500);
  --color-warning-600: var(--color-yellow-600);
  --color-warning-700: var(--color-yellow-700);
  --color-warning-800: var(--color-yellow-800);
  --color-warning-900: var(--color-yellow-900);
  --color-warning-950: var(--color-yellow-950);

  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);

  --color-info-50: var(--color-sky-50);
  --color-info-100: var(--color-sky-100);
  --color-info-200: var(--color-sky-200);
  --color-info-300: var(--color-sky-300);
  --color-info-400: var(--color-sky-400);
  --color-info-500: var(--color-sky-500);
  --color-info-600: var(--color-sky-600);
  --color-info-700: var(--color-sky-700);
  --color-info-800: var(--color-sky-800);
  --color-info-900: var(--color-sky-900);
  --color-info-950: var(--color-sky-950);

  --color-surface-dim: oklch(94% 0 0);
  --color-surface: oklch(98% 0 0);
  --color-surface-bright: oklch(98% 0 0);

  --color-on-surface: var(--color-neutral-800);
  --color-on-surface-variant: var(--color-neutral-600);

  --color-surface-container-lowest: oklch(100% 0 0);
  --color-surface-container-low: oklch(98% 0 0);
  --color-surface-container: oklch(96% 0 0);
  --color-surface-container-high: oklch(94% 0 0);
  --color-surface-container-highest: oklch(92% 0 0);

  --color-primary: var(--color-primary-400);
  --color-primary-container: var(--color-primary-200);
  --color-on-primary: var(--color-white);
  --color-on-primary-container: var(--color-primary-600);

  --color-secondary: var(--color-secondary-200);
  --color-secondary-container: var(--color-secondary-200);
  --color-on-secondary: var(--color-neutral-800);
  --color-on-secondary-container: var(--color-secondary-900);

  --color-tertiary: var(--color-tertiary-500);
  --color-tertiary-container: var(--color-tertiary-200);
  --color-on-tertiary: var(--color-white);
  --color-on-tertiary-container: var(--color-tertiary-900);

  --color-error: var(--color-error-500);
  --color-error-container: var(--color-error-200);
  --color-on-error: var(--color-white);
  --color-on-error-container: var(--color-error-900);

  --color-warning: var(--color-warning-500);
  --color-warning-container: var(--color-warning-200);
  --color-on-warning: var(--color-white);
  --color-on-warning-container: var(--color-warning-900);

  --color-success: var(--color-success-500);
  --color-success-container: var(--color-success-200);
  --color-on-success: var(--color-white);
  --color-on-success-container: var(--color-success-900);

  --color-info: var(--color-info-500);
  --color-info-container: var(--color-info-200);
  --color-on-info: var(--color-white);
  --color-on-info-container: var(--color-info-900);

  --color-backdrop: oklch(0 0 0 / 25%);

  --color-border: oklch(90% 0 0);

  --text-2xs: 0.5625rem;

  --animate-caret-blink: caret-blink 1.2s ease-out infinite;

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

/* Custom scroll */
@media only screen and (min-width: 640px) {
  /* width */
  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  body > * ::-webkit-scrollbar {
    width: 0.3rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background-color: hsl(0 0 90%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: hsl(0 0 60%);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0 0 50%);
  }

  html.dark {
    ::-webkit-scrollbar-track {
      background-color: hsl(0 0 25%);
    }

    ::-webkit-scrollbar-thumb {
      background-color: hsl(0 0 50%);
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: hsl(0 0 60%);
    }
  }
}
