:root {
  --bg: 0 0% 100%;
  --bg-50: 0 0% 98%;
  --bg-100: 0 0% 96%;
  --bg-200: 0 0% 90%;

  --backdrop: 0 0% 0% / 25%;

  --fg: 0 0% 32%;
  --fg-hover: 0 0% 15%;
  --fg-muted: 0 0% 45%;
  --fg-disabled: 0 0% 64%;

  --primary: 64 64% 50%;
  --primary-50: 64 64% 96%;
  --primary-border: 64 58% 80%;
  --primary-fg: 0 0% 100%;
  --primary-fg-hover: 0 0% 100%;
  --primary-fg-muted: 0 0% 100%;
  --primary-fg-disabled: 271 91% 100%;

  --secondary: 0 0% 95%;
  --secondary-50: 0 0% 45%;
  --secondary-border: 0 0% 45%;
  --secondary-fg: 0 0% 20%;
  --secondary-fg-hover: 0 0% 90%;
  --secondary-fg-muted: 0 0% 45%;
  --secondary-fg-disabled: 0 0% 32%;

  --error: 0 84% 60%;
  --error-fg: 0 0% 100%;
  --error-fg-hover: 0 0% 90%;
  --error-fg-muted: 0 0% 45%;
  --error-fg-disabled: 0 0% 32%;

  --warning: 45 93% 47%;
  --warning-fg: 0 0% 100%;
  --warning-fg-hover: 0 0% 90%;
  --warning-fg-muted: 0 0% 45%;
  --warning-fg-disabled: 0 0% 32%;

  --success: 142 71% 45%;
  --success-50: 142 71% 95%;
  --success-fg: 0 0% 100%;
  --success-fg-hover: 0 0% 100%;
  --success-fg-muted: 0 0% 100%;
  --success-fg-disabled: 142 71% 100%;

  --info: 199 89% 48%;
  --info-fg: 0 0% 100%;
  --info-fg-hover: 0 0% 100%;
  --info-fg-muted: 0 0% 100%;
  --info-fg-disabled: 199 89% 100%;

  --ring: 149 64% 39%;
  --border: 0 0% 90%;
  --rounded: 0.5rem;
}

:root.dark {
  --bg: 0 0% 12%;
  --bg-50: 0 0% 14%;
  --bg-100: 0 0% 16%;
  --bg-200: 0 0% 20%;

  --backdrop: 0 0% 0% / 50%;

  --fg: 0 0% 64%;
  --fg-hover: 0 0% 90%;
  --fg-muted: 0 0% 45%;
  --fg-disabled: 0 0% 32%;

  --primary: 64 64% 40%;
  --primary-50: 64 64% 10%;
  --primary-border: 64 64% 16%;
  --primary-fg: 0 0% 100%;
  --primary-fg-hover: 0 0% 100%;
  --primary-fg-muted: 0 0% 100%;
  --primary-fg-disabled: 271 91% 100%;

  --secondary: 0 0% 25%;
  --secondary-50: 0 0% 45%;
  --secondary-border: 0 0% 45%;
  --secondary-fg: 0 0% 100%;
  --secondary-fg-hover: 0 0% 90%;
  --secondary-fg-muted: 0 0% 45%;
  --secondary-fg-disabled: 0 0% 32%;

  --error: 0 84% 60%;
  --error-fg: 0 0% 100%;
  --error-fg-hover: 0 0% 90%;
  --error-fg-muted: 0 0% 45%;
  --error-fg-disabled: 0 0% 32%;

  --warning: 45 93% 47%;
  --warning-fg: 0 0% 100%;
  --warning-fg-hover: 0 0% 90%;
  --warning-fg-muted: 0 0% 45%;
  --warning-fg-disabled: 0 0% 32%;

  --success: 142 71% 45%;
  --success-50: 142 71% 5%;
  --success-fg: 0 0% 100%;
  --success-fg-hover: 0 0% 90%;
  --success-fg-muted: 0 0% 45%;
  --success-fg-disabled: 0 0% 32%;

  --info: 199 89% 48%;
  --info-fg: 0 0% 100%;
  --info-fg-hover: 0 0% 90%;
  --info-fg-muted: 0 0% 45%;
  --info-fg-disabled: 0 0% 32%;

  --ring: 150 71% 34%;
  --border: 240 4% 18%;
}
